@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

img{
    width: 200px;
    height: 250px;
}

.card{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 227, 232);
    
}

.card img{
    border-radius: 50%;
    width: 250px;
    border: 1px solid black;
}


