.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  .menu {
    display: none;
  }

  h1 {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin: 0;
  }
  span {
    color: #645cff;
  }
  .fa {
    background-color: #645cff;
    padding: 5px;
    font-size: 14px;
    color: white;
  }
  .fa-facebook {
    background-color: #645cff;
    padding: 5px 8px;
    font-size: 14px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
  }
  .fa-twitter {
    color: #645cff;
    background-color: white;
    font-size: 18px;
  }
}

@media (min-width: 960px) {
  .navbar {
    font-family: "Roboto", sans-serif;
    display: flex;
    .menu {
      display: flex;
      justify-content: space-between;

      div {
        padding: 15px;
      }
      div:hover {
        color: #645cff;
      }
    }
  }
}
